:host {
  display: flex;
  justify-content: center;
}

.board {
  height: 215px;
  width: 215px;
  border: solid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  justify-items: center;

  &.paused {
    filter: blur(10px);
  }
}
